body {

	display: grid;
	place-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color:#91E063;
}

 .btn{

	border: 2px solid #ffffff;
    background-color:#FF8AD2;
    padding: 35px 15px;
    cursor: pointer;
    font-size: 22px;
    line-height: 70px;
    position: relative;
    overflow: hidden;
	text-align: center;
	color: #ffffff;
	font-weight: 900;
	width: 18%;
	text-shadow: 4px #ffffff,
	8px #ffffff, 12px #ffffff;;
}


.btn::before{
	content: 'Desafio CSS';
	 position: absolute;
	 left: 0;
	 background-color:#ffffff;
	 width: 100%;
	 height: 0%;
	 transition:1s;
	 top: 0;
	 text-align: center;
 } 
 
 .btn:hover::before{
	 content:'✅  Dia 16';
	 height: 190%;
	 color: #FF8AD2;

 }
 