body {

	display: grid;
	place-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color:#6BDEE8;;
}

 .btn{

	border: 3px solid #ffffff;
	background-color:#6BDEE8;
    padding: 20px 15px;
    cursor: pointer;
    font-size: 28px;
    position: relative;
	color: #ffffff;
	font-weight: 900;
	width: 20%;
	transition: all 0.3s;
	overflow: hidden;
}


.btn::before{
	content: '';
	width: 60%;
	position: absolute;
	top:0;
	left: 0;
	background-color:#ffffff;
	height: 50%;
	transform:translateX(-150%) rotate(45deg);
	transition: all 0.3s;
 } 

 .btn:hover{
	background-color:#31959E;
 }
 
 .btn:hover::before
 {
	z-index: 1;
	transform:translateX(150%) rotate(45deg);
	
 }

 