body{

    display: grid;
    place-items: center;
    height: 100vh;
}

.main-div{
    position: relative;
    width: 280px;
    height: 250px;
   
}

.main-div span {

    width: 60px;
    height: 60px;
    position: absolute;
    transform: rotate(45deg);
    animation: rotation1 1s linear infinite;
    
}

.main-div span:nth-child(1)
{
    position: absolute;
    background-color:red;
    top: 20%;
    left: 20%;
    animation: rotation-1 3s linear infinite ;
}


.main-div span:nth-child(2)
{
    position: absolute;
    top: 3.5%;
    left: 35%;
    background-color: blue;
    animation: rotation-2 3s linear infinite ;
}

.main-div span:nth-child(3)
{
    position: absolute;
    left: 35%;
    top: 37%;
    background-color: greenyellow;
    animation: rotation-3 3s linear infinite ;
}

.main-div span:nth-child(4)
{
    position: absolute;
    left: 50%;
    top: 20%;
    background-color:salmon ;
    animation: rotation-4 3s linear infinite ;
}


@keyframes rotation-1 {
   0%{
       left: -5%;
   }
   
}
/*
@keyframes rotation-2 {
    0% {
        transform: translate(0, -50%) rotate(0);
    }
    10% {
        transform: translate(0, -50%) rotate(0);
    }
    25% {
        transform: translate(0%, -50%) rotate(45deg);
    }
    50% {
        transform: translate(30%, -50%) rotate(45deg);
    }
    75% {
        transform: translate(0%, -50%) rotate(45deg);
    }
    100% {
        transform: translate(0, -50%) rotate(0);
    }
}


@keyframes rotation-3 {
    0% {
        transform: translate(0, -50%) rotate(0);
    }
    10% {
        transform: translate(0, -50%) rotate(0);
    }
    25% {
        transform: translate(0%, -50%) rotate(45deg);
    }
    50% {
        transform: translate(-30%, -50%) rotate(45deg);
    }
    75% {
        transform: translate(0%, -50%) rotate(45deg);
    }
    100% {
        transform: translate(0, -50%) rotate(0);
    }
}

@keyframes rotation-4 {
    0% {
        transform: translate(-50%, 0) rotate(0);
    }
    10% {
        transform: translate(-50%, 0) rotate(0);
    }
    25% {
        transform: translateX(-50%) rotate(45deg);
    }
    50% {
        transform: translate(-50%, -30%) rotate(45deg);
    }
    75% {
        transform: translate(-50%, 0) rotate(45deg);
    }
    100% {
        transform: translate(-50%, 0) rotate(0);
    }
*/



