body{

    display: grid;
    place-items: center;
    height: 95vh;
}

.main-div{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    animation: scale-div 1s linear infinite;
    
}

.main-div span {

    width: 75px;
    height: 75px;
    position: absolute;
    animation: rotate-span 1s linear infinite
    
}

.main-div span:nth-child(1)
{
    top:0%;
    left:0;
    background-color:#069E64;
    
}


.main-div span:nth-child(2)
{
    top:0%;
    right:0;
    background-color:yellow;
    
}

.main-div span:nth-child(3)
{
    bottom: 0;
    left: 0;
    background-color:#E05351;
    
}

.main-div span:nth-child(4)
{
    bottom: 0;
    right: 0;
    background-color:#51CBE0;
    
}


@keyframes rotate-span{
    0%,10% {
        transform: rotate(0deg);
    }

    50%,90%,100% {
        transform: rotate(90deg);
    }

}

@keyframes scale-div {
    
    0%,10%,90%,100% {
        width: 150px;
        height: 150px;
    }

    50% {
        width: 200px;
        height: 200px;
    }

}