body {

    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.btn{

    border: 2px solid #F56700;
    background-color:#ffffff;
    padding: 18px;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    color:#F56700;
    text-align: center;
    width: 20%;
}


.btn::before{
   content: 'Desafio 30 dias de CSS';
    position: absolute;
    left: 0;
    background-color:#F56700;
    width: 100%;
    height: 0%;
    transition:1s;
    top: 0;
    border-radius: 0 0 50% 50%;
    text-align: center;
} 

.btn:hover::before{
    height: 190%;
    color: #ffffff;
}

