body {

    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}


h1
{   position: relative;
    font-size: 50px;
    color: #eeeeee;
    font-family: sans-serif;   
}

h1.texto::before 
{
    content: 'Creuma';
    position: absolute;
    top: 0%;
    left: 0%;
    color:#ea005e;
    width: 0%;
    overflow: hidden;
    transition: all 0.6s;
}

h1:hover::before
{
    width: 100%;
}





