body {

    margin: 0;
    padding: 0;
}

.coracao {

    background-color:#FF6D6B;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 43%;
    left: 45%;
    transform: rotate(45deg);
    animation: beating 1s linear infinite;
} 

.coracao-lado-esquerdo, .coracao-lado-direito {

    background-color:#FF6D6B;
    height: 40px;
    width: 70px;
    position: relative;
    bottom: 38px;
    border-radius: 70px 70px 0 0 ;
    
}

.coracao-lado-esquerdo {

    bottom: 38px;
}

.coracao-lado-direito{

    bottom: 25px;
    right: 52px;
    transform: rotate(-90deg);
}

@keyframes beating {

    0%,25%,100%{
        transform:  rotate(45deg) scale(1);
    }

    30%,70% {
        transform:  rotate(45deg) scale(1.4);
    }

    50% {
        transform:  rotate(45deg) scale(1.2);
    }

}


