body {

	display: grid;
	place-items: center;
	height: 90vh;
	background-color: #000000;
}

ul {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 0 5px;
	width: 250px;
	height: 13px;
	background-color:#ffffff;
}

ul li {

	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color:#ffffff;
	list-style-type: none;
	transform: translatey(-140px) translateX(-20px);
	animation: quicando 0.9s linear infinite;
}

@keyframes quicando {

	0%{
		transform: translatey(-26px);
	}

	50%{

		transform: translateY(-140px);
	}

	100%{

		transform: translatey(-26px);
	}

}

ul li:nth-child(1){

	animation-delay: 0s;
}

ul li:nth-child(2)
{

	animation-delay: 0.2s;
}


ul li:nth-child(3)
{

	animation-delay: 0.4s;
}


ul li:nth-child(4)
{

	animation-delay: 0.8s;
}

ul li:nth-child(5)
{

	animation-delay: 1s;
}

