@font-face {

	src: url("/fonts/PathwayGothicOne-Regular.ttf");
	font-family:"Pathway";
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:"Pathway";
}

.main-div {

	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

.center-div ul{

	display: flex;
	justify-content: center ;
}

.center-div ul li {

	list-style-type: none;
	text-transform: uppercase;
	color: #8d8d8d;
	font-size: 5rem;
	padding-left: 2rem;
	animation:light 3.5s linear infinite ;
}

.center-div ul li:first-child  {

	padding-left: 0;
	
}

.center-div ul li:nth-child(7){

	padding-left: 4rem;
	
}


@keyframes light {

	0%{

		color: #8d8d8d;
		text-shadow: none;
	}

	90%{

		color: #8d8d8d;
		text-shadow: none;
	}

	100% {

		color:#2EC2F0;
		text-shadow: 0 0 4rem #2EC2F0;
	}
	 
}


.center-div ul li:nth-child(1){

	animation-delay: 0s;
}

.center-div ul li:nth-child(2){

	animation-delay: 0.3s;
}

.center-div ul li:nth-child(3){

	animation-delay: 0.6s;
}

.center-div ul li:nth-child(4){

	animation-delay: 0.9s;
}

.center-div ul li:nth-child(5){

	animation-delay: 1.2s;
}

.center-div ul li:nth-child(6){

	animation-delay: 1.5s;
}

.center-div ul li:nth-child(7){

	animation-delay: 1.8s;
}

.center-div ul li:nth-child(8){

	animation-delay: 2.1s;
}

.center-div ul li:nth-child(9){

	animation-delay: 2.4s;
}

.center-div ul li:nth-child(10){

	animation-delay: 2.7s;
}

.center-div ul li:nth-child(11){

	animation-delay: 3s;
}

.center-div ul li:nth-child(12){

	animation-delay: 3.3s;
}

