body {

    display: grid;
    place-items:center;
    height: 100vh;
    background-color:#000000;
}

h1 {

    font-size: 3rem;
    background-color: yellow;
    padding: 15px;
    border-radius: 10px;
    
}

span::before {

    content: '';
    animation: flash 3s infinite;
}

@keyframes flash{

    0% { 

        content:'💻';
    }

    25% {

        content: '📝';
    }

    50% {

        content: '🎶';
    }

    75% {

        content: '📚';
    }

    100% {

        content: '🎧';
    }

   
}