body {

	display: grid;
	place-items: center;
	background-color:#FFBDAB;
	height: 100vh;
}

h1 {

	background:url('papel-de-parede-listras-etnico-02-laco.jpg');
	font-size: 11em;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: wavy 10s linear infinite;
}

@keyframes wavy{

	0%{

		background-position: 0 0;
	}

	100%{

		background-position: 100% 100%;
	}
}