body {

    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

#menu-horizontal {

    height: 50px;
    border-bottom: 2px solid #EAEAEB;
}

#menu-horizontal a{

    text-decoration: none;
    color: #000000;
    padding-right: 10px;
    line-height: 40px;
    position: relative;
    left:1050px;
}

label, input {

    display: none;
}

#div-linha{
    
    width: 480px;
    height: 2px;
    background-color:#ffffff;
    position: relative;
    top: 40px;
}

#menu-hamburguer{

    display: none;
}

#menu-hamburguer a{

    text-decoration: none;
    color: #000000;
    padding-top: 40px;
    display: block;
    text-align: center;
    border-bottom: 2px solid #EAEAEB;
    
}

div a span {

    color: #54D17A;

}

@media only screen and (max-width: 500px){

    #menu-horizontal{

        display: none;
    }

    #div-linha {

        background-color:#EAEAEB;
    }

    label {
        display: inline-block;
        font-size:1.8rem ;
        color:#000000;
        position: relative;
        left: 420px;
        top: 15px;
        cursor: pointer;
    }

    input {
        display: inline-block;
        opacity: 0;
    }

    input[type="checkbox"]:checked ~ #menu-hamburguer{

        display: block;
        position: relative;
        top: 20px;
    }

}