body{

    display: grid;
    place-items: center;
    height: 95vh;
    background-color: #000000;
}

ul {

    display: grid;
    grid-template-columns: repeat(5,1fr);
}

ul li {

    list-style-type: none;
    margin: 30px;
}

ul li label input{

    position: relative;
    opacity: 0;
    cursor: pointer;
}

ul li label .icon {

    color:grey;
    font-size: 40px;
    cursor: pointer;
}

ul li label input[type="checkbox"]:checked ~ .icon .fas
{
    animation: cores 10s linear infinite;
}


@keyframes cores {
   
    25%{

        color: #00f3ff;
    }

    50%{
        color: #D075DB;
    }

    75%{

        color: #ff880a;
    }
    
    100%{

        color:#208F10;
    }

}

