body {

	margin: 0;
	padding: 0;
}

.pendulo {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-top: 4px solid #262626 ;
	border-bottom: 40px solid #262626;
	border-left: 1px solid #262626;
	border-right: 1px solid #262626;
	padding: 0 40px 20px ;
	display: flex;
}

.pendulo span {
	position: relative;
	display: block;
	width: 2px;
	height: 100px;
	background-color: #262626;
	margin: 0 14px;
	transform-origin:top;
}

.pendulo span::before {

	content: '';
	position: absolute;
	bottom: 0;
	width: 30px;
	height: 30px;
	background-color: #262626;
	border-radius: 50%;
	left: -14px;
}

.pendulo span:first-child{

	animation: animate 1s linear infinite;
}

.pendulo span:last-child {

	animation: animate2 1s linear infinite;
	animation-delay: 0.5s;
}

@keyframes animate{

	0%,50%,100%{
		transform: rotate(0deg);
	}

	25%{

		transform: rotate(60deg);
	}

}


@keyframes animate2{

	0%,50%,100%{
		transform: rotate(0deg);
	}

	25%{

		transform: rotate(-60deg);
	}

	

}


