body {

	display: grid;
	place-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color:#000000;
}

 .btn{

	border: 3px solid #ffffff;
	background-color:#000000;
    padding: 20px 15px;
    cursor: pointer;
    font-size: 28px;
	color:#ffffff;
	font-weight: 900;
	width: 20%;
}

 .btn:hover{
	
	border: 3px solid yellow;;
	color:yellow;;
	animation: rotation 0.3s linear 1;
	
 }

 @keyframes rotation {

	0%{
		transform: rotate(10deg);
	}

	33%{

		transform: rotate(-10deg);
	}

	66%{

		transform: rotate(10deg);
	}

 }
 
 