body {

     margin: 0;
     padding: 0;
     background-color: #262626;
     display: grid;
     place-items: center;
     height: 100vh;
 }
 
 .pulse {
 
     width: 100px;
     height: 100px;
     background:  #58ea00;
     border-radius: 50%;
     color: #ffffff;
     text-align: center;
     line-height: 150px;
     font-size: 1.5rem;
     text-transform: uppercase;
     position: relative;
   
 }
 
 #phoneDiv{
 
   font-size:2rem;
 }
 
 .fas {

     position: absolute;
     top: 33px;
     left: 35px;
 }

 .pulse::before , .pulse::after{ 

     content: " ";
     position: absolute;
     left: -20px;
     right: -20px;
     top: -20px;
     bottom: -20px;
     border: 1px solid #58ea00;
     border-radius:50%;
     animation: pulse 3s linear infinite;
 }
 
 .pulse::after {

     animation-delay: 0.5s;
 }

 @keyframes pulse{
 
    0%{
         transform: scale(0.5); opacity: 0;
    }

    50%{

     transform: scale(1); opacity: 1;
    }

    100% {

          transform: scale(1.2); opacity: 0;
    }

  }