body{

    display: grid;
    place-items: center;
    height: 90vh;
    background-color:#E88D20;
    font-family: sans-serif;
    color:#ffffff
}

h1 {

    animation: flutuar 3s linear infinite;
    font-size: 4rem;
    text-shadow:  
                0 3px 0 #efefef,
                0 4px 0 #efefef,
                0 30px 5px rgba(0,0,0,.1);
  
}

@keyframes flutuar{

    0%,100%{

        transform: rotate(4deg);
        
    }

    50%{

        transform: rotate(-4deg);
        
    }
    
}

