body{

	display: grid;
	place-items: center;
	height: 90vh;
	background-color:#30DDFA;
	color: #ffffff;
	animation: mudar-cor 20s linear infinite ;
}

h1{

	text-align: center;

}

@keyframes mudar-cor {

	0%{

		background-color:#30DDFA;
	}

	25%{

		background-color:#FA8627;
	
	}

	50%{

		background-color: #893BFF;

	}

	75%{

		background-color: #FAF328;

	}

	100%{

		background-color: #5AB300;
	
	}
}
